{% extends 'base.html' %}
{% block content %}
<h1>Your orders</h1>
{% if order_list %}
<ul>
    {% for order in order_list %}
        <li class="container">
            <a href="{% url 'order_detail' order.pk %}">{{ order.car.model }}</a>
            {% if order.due_back %}, 
            Your order should be completed by: {{ order.due_back }}
            {% endif %}
            {% if order.status == status and order.is_overdue %}
            <span class="orderoverdue">OVERDUE!</span>{% endif %}
        </li>
    {% endfor %}
</ul>
{% else %}
<p class="box box-warning">
    You have no orders yet. Go order something!
</p>
{% endif %}
{% endblock content %}